<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
  <head>
    {{ block "title" . }}
      <title>
        {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
        {{ . }}{{ end }}{{ else }}{{ .Title }} ::
        {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}
      </title>
    {{ end }}
    {{ partial "head.html" . }}
  </head>
  <body {{ with $.Site.Params.defaultTheme -}} class="{{ printf "%s-theme" . }}" {{- end }}>
    <div class="container">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "main" . }} {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>

{{ if $.Site.Params.googleAnalytics }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ $.Site.Params.googleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ $.Site.Params.googleAnalytics }}');
  </script>
{{ end }}
  </body>
</html>
